.button-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.exButton {
    margin: 0 0 0 5px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color: rgb(134, 179, 0);
}
